h1{
    color: #fffdd1;
    font-size: 1.8rem;
    margin-left: 1em;
    display: inline;
}

h3{
    color: #0f7d7e;
    text-align: center;
    margin-right: 3%;
    font-size: 1.2rem;
}

h2{
    color: #fffdd1;
    text-align: center;
    margin-right: 4%;
    font-size: 1.4rem;
    margin-left: 1em;
    display: inline;
}

div{
    border-radius: 8px;

}

a{
    color: #ff7575;
    text-decoration-line:Edge 79;
}   

body{
    background-color: rgb(118, 181, 160);
    margin-left: 15%;
    margin-bottom: 40px;
    min-height: 100vh;
}

p{
    color: #76b5a0;
    margin-left: 1em;
    margin-right: 2em;
}

ul{
    color: rgb(15, 125, 126);
    margin-right: 10%;
    list-style-type:none;
}
li{
    margin-bottom: 1em;
}

footer{
    margin: 4%;
    background-color: #0f7d7e;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

header{
    background-color: #0f7d7e;
    padding-top: 10px;
    border-top-left-radius: 8px;
    height: 40px;
}

.design-selection{
    width: 90%;

    font-style: italic;
    border-radius: 10px;
    background-color: rgb(243, 241, 199);
    box-shadow: -3px -3px 3px rgb(223, 221, 189);

    max-width: 33%;
    max-height: 22%;
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    top: 560px;
    left: 62%;
}

.zen-resources{
    width: 90%;

    font-style: italic;
    border-radius: 10px;
    background-color: rgb(243, 241, 199);
    box-shadow: -3px -3px 3px rgb(223, 221, 189);
    max-width: 100%;
    margin-left: 7%;
    padding-bottom: 10px;
}

.sidebar{
    text-align: center;
}

.summary{
    text-align: right;
}

footer a{
    border: 1px solid #76b5a0;
    border-radius: 8px;
    padding: 0.5em;
}

.main{
    line-height: 1.5em;
}

.intro{
    height: 550px;
}

.page-wrapper{
    background-color: #fffdd1;
    margin-top: 30px;
    width: 80%;
    padding-right: 2%;
    position: relative;
    font-family: sans-serif;
    padding-bottom: 1px;
}

.explanation{
    border-right: 1px solid #1f295c;
    max-width: 60%;
    margin-right: 35%;
}

.design-archives{
    display: none;
}

abbr, a{
    font-variant: small-caps;
}